.home-bg {
  background-image: linear-gradient(
    179.95deg,
    rgb(31, 31, 31) 8.0%,
    rgb(17, 17, 17) 41.1%,
    rgb(17, 17, 17) 99.9%
  );
}

.section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 30px 0 30px;
}

.section-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.section-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 21px;
  color: #ffffff;
}

.show-all {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #b3b3b3;
  cursor: pointer;
}

.card-row {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 17px;
  flex-shrink: 0;
  width: 175px;
  padding: 13px 13px 17px 13px;
  background-color: #161616;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.card:hover {
  background-color: #1f1f1f;
}

.card-img {
  width: 100%;
  height: 149px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 0px 21px 0px rgba(5, 5, 5, 0.61);
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.card-title {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.card-desc {
  font-weight: 600;
  font-size: 10.3px;
  line-height: 18px;
  color: #b3b3b3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}